// Primary
$color-very-dark-blue: hsl(243, 87%, 12%);
$color-desaturated-blue: hsl(238, 22%, 44%);

// Accent
$color-bright-blue: hsl(224, 93%, 58%);
$color-moderate-cyan: hsl(170, 45%, 43%);

// Neutral
$color-light-grayish-blue: hsl(240, 75%, 98%);
$color-light-gray: hsl(0, 0%, 75%);

$color-white: white;

$break-desktop: 900px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

.container {
    width: 90%;
}

ul li {
    list-style-type: none;
}

a {
    all: unset;
    cursor: pointer;
}
