.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 2rem;

    &__logo {
        width: 8rem;

        img {
            width: 100%;
        }
    }

    .nav {

        &__menu {
            display: flex;
            flex-direction: row;

            &-item {
                font-family: Raleway, sans-serif;
                font-size: 1.4rem;
                margin-left: 2rem;
            }
        }
    }

    @media screen and (min-width: $break-desktop) {

        &__logo {
            width: 12rem;
        }

        .nav {

            &__menu {
    
                &-item {
                    margin-left: 5rem;
                }
            }
        }
    }
}