* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
}

.container {
  width: 90%;
}

ul li {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

html {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: #070439;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 1rem;
}

.header__logo {
  width: 8rem;
}

.header__logo img {
  width: 100%;
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav__menu-item {
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  margin-left: 2rem;
}

.section-main {
  width: 90%;
  margin: 6rem auto;
}

.section-main__img img {
  width: 100%;
}

.section-main__call {
  text-align: center;
}

.section-main__call .title {
  margin-top: 3rem;
  font-size: 2.5rem;
}

.section-main__call .description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  padding: 1.2rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid #070439;
  border-radius: .4rem;
}

.form__input::-webkit-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.form__input:-ms-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.form__input::-ms-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.form__input::placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.btn {
  background-color: #3065f8;
  color: #f6f6fe;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: .4rem;
  padding: 1.4rem 2rem;
}

.bg-curve {
  height: 7rem;
  background: url(../assets/bg-curve-mobile.svg) no-repeat center;
  background-size: cover;
}

.section-secondary {
  padding: 0 5vw 8rem;
  background-color: #f6f6fe;
  font-size: 1.4rem;
}

.section-secondary__img img {
  width: 100%;
}

.section-secondary__title {
  margin-top: 5rem;
  font-size: 1.6rem;
  text-align: center;
}

.section-secondary__info {
  margin-top: 1.5rem;
  color: #070439;
}

.section-secondary__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15.5rem;
  height: 2rem;
  margin: 4rem auto 4rem;
  color: #3c9f8f;
  border-bottom: 0.1rem solid #3c9f8f;
  padding-bottom: .5rem;
}

.section-secondary__link .img {
  width: 100%;
}

.card {
  background-color: white;
  width: 85%;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 2.5rem;
}

.card__quote {
  font-size: 1rem;
}

.card__quote::before {
  content: url(../assets/icon-quotes.svg);
  display: block;
  margin-bottom: .5rem;
}

.card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.card__img {
  width: 3rem;
}

.card__img img {
  width: 100%;
  border-radius: 50%;
}

.card__user {
  margin-left: 1rem;
}

.card__name {
  font-size: 1rem;
  font-weight: 700;
}

.card__role {
  font-size: .8rem;
}
/*# sourceMappingURL=main.css.map */