* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1440px;
}

@media screen and (min-width: 900px) {
  .container {
    width: 90%;
  }
}

ul li {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

html {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: #070439;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 2rem;
}

.header__logo {
  width: 8rem;
}

.header__logo img {
  width: 100%;
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav__menu-item {
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  margin-left: 2rem;
}

@media screen and (min-width: 900px) {
  .header__logo {
    width: 12rem;
  }
  .header .nav__menu-item {
    margin-left: 5rem;
  }
}

.footer {
  background-color: #070439;
  padding: 5rem 0;
  font-size: 1.5rem;
  color: #f8f8fe;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  -webkit-filter: invert(100) brightness(100);
          filter: invert(100) brightness(100);
  margin: auto;
}

.footer__contact--phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.footer__contact--phone::before {
  content: '';
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  background-image: url(../assets/icon-phone.svg);
  background-repeat: no-repeat;
}

.footer__contact--email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.footer__contact--email::before {
  content: '';
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  background-image: url(../assets/icon-email.svg);
  background-repeat: no-repeat;
}

.footer__links {
  margin-top: 4rem;
}

.footer__links .link__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.footer__links .link__group--item a:hover {
  color: #628af9;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.footer__social--icon {
  border: 1px solid #f8f8fe;
  border-radius: 50%;
  padding: .5rem;
}

.footer__social--icon:hover {
  border: 1px solid #628af9;
  color: #628af9;
}

.footer .attribution {
  font-size: .8rem;
  text-align: center;
  margin-top: 2rem;
}

.footer .container {
  margin: auto;
}

@media screen and (min-width: 900px) {
  .footer {
    padding: 10rem 0;
  }
  .footer .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  .footer .attribution {
    margin-top: 8rem;
  }
}

.section-main {
  width: 90%;
  margin: 6rem auto 12vh;
}

.section-main__img img {
  width: 100%;
}

.section-main__call {
  text-align: center;
}

.section-main__call .title {
  margin-top: 3rem;
  font-size: 2.5rem;
}

.section-main__call .description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.section-main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-main .form__input {
  width: 100%;
  padding: 1.2rem 2rem;
  border: 1px solid #070439;
  border-radius: .4rem;
}

.section-main .form__input::-webkit-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-main .form__input:-ms-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-main .form__input::-ms-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-main .form__input::placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-main .form .btn {
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
  .section-main__call {
    text-align: left;
  }
  .section-main__call .title {
    font-size: 3.8rem;
  }
  .section-main__call .description {
    font-size: 1.6rem;
    width: 85%;
  }
  .section-main .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-main .form__input {
    width: 30rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-main .form .btn {
    width: 100%;
    max-width: 16rem;
    max-height: 4.1rem;
    margin-top: 0;
  }
}

.btn {
  background-color: #3065f8;
  color: #f8f8fe;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: .4rem;
  padding: 1.4rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #628af9;
}

.bg-curve {
  height: 11.4rem;
  background: url(../assets/bg-curve-mobile.svg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 900px) {
  .bg-curve {
    background: url(../assets/bg-curve-desktop.svg) no-repeat center;
    background-size: contain;
    height: 7.95vw;
  }
}

.bg-color-light-grayish-blue {
  background-color: #f8f8fe;
}

.bg-color-desaturated-blue {
  background-color: #585989;
}

.section-secondary {
  padding-bottom: 8rem;
  font-size: 1.4rem;
  margin: auto;
}

.section-secondary__img img {
  width: 100%;
}

.section-secondary__title {
  margin-top: 5rem;
  font-size: 1.6rem;
  text-align: center;
}

.section-secondary__info {
  margin-top: 1.5rem;
  color: #070439;
}

.section-secondary__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15.5rem;
  height: 2rem;
  margin: 4rem auto 4rem;
  color: #3c9f8f;
  border-bottom: 0.1rem solid #3c9f8f;
  padding-bottom: .5rem;
}

.section-secondary__link .img {
  width: 100%;
}

.section-secondary__link:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

@media screen and (min-width: 900px) {
  .section-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-secondary__title {
    text-align: left;
    font-size: 3.6rem;
  }
  .section-secondary__info {
    width: 65%;
  }
  .section-secondary__img {
    max-width: 55rem;
    padding: 6rem 2rem;
  }
  .section-secondary__link {
    margin: 1rem auto 4rem 0;
  }
}

.card {
  background-color: white;
  width: 85%;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 2.5rem;
}

.card__quote {
  font-size: 1rem;
}

.card__quote::before {
  content: url(../assets/icon-quotes.svg);
  display: block;
  margin-bottom: .5rem;
}

.card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.card__img {
  width: 3rem;
}

.card__img img {
  width: 100%;
  border-radius: 50%;
}

.card__user {
  margin-left: 1rem;
}

.card__name {
  font-size: 1rem;
  font-weight: 700;
}

.card__role {
  font-size: .8rem;
}

@media screen and (min-width: 900px) {
  .card {
    max-width: 30rem;
    margin: 0;
  }
  .card__quote {
    font-size: 1.2rem;
  }
}

.section-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 5rem 0rem 6rem;
  text-align: center;
}

.section-third__title {
  font-size: 1.8rem;
  color: #f8f8fe;
}

.section-third__info {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  color: #bfbfbf;
}

.section-third .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: auto;
  position: relative;
}

.section-third .form__input {
  width: 100%;
  padding: 1.2rem .8rem;
  border: 1px solid white;
  border-radius: .2rem;
}

.section-third .form__input::-webkit-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-third .form__input:-ms-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-third .form__input::-ms-input-placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-third .form__input::placeholder {
  font-family: Raleway;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.section-third .form .msg__error, .section-third .form .msg__success {
  color: #bfbfbf !important;
}

.section-third .form .btn {
  font-size: 1.2rem;
  border-radius: .2rem;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .section-third {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: 8rem 0rem 6rem;
  }
  .section-third .wrapper-one {
    max-width: 45rem;
  }
  .section-third__title {
    font-size: 2.5rem;
  }
  .section-third .wrapper-two {
    width: 55rem;
  }
  .section-third .btn {
    max-width: 18rem;
  }
}

.form__field {
  position: relative;
}

.form__field .active {
  display: block !important;
}

.form__field .msg {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin-top: .5rem;
  display: none;
}

.form__field .msg__error {
  color: #ff4242;
}

.form__field .msg__success {
  color: #16dc52;
}

.form__field .input__error {
  outline: 1px solid #ff4242;
  border: none !important;
}
/*# sourceMappingURL=main.css.map */